<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NISAl Enterprises | Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

<div class="login-wrapper">
    <h1 class="brand">NISAL <span>Enterprises</span></h1>

    <div class="login-card">
        <h2>Welcome Back</h2>

        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">

        <button onclick="login()">Login</button>

        <p id="error"></p>
    </div>
</div>


<script src="/static/login.js"></script>
</body>
</html>
